{% extends 'layout.html' %}

{% block nav %}
<div class="navbar navbar-inverse cuerpo-main">
    <div class="container-fluid">
        <div class="navbar-header">
            <a class="navbar-brand" id="logo" href="/"><span class="glyphicon glyphicon-home"></span> Bienvenid@: {{usuario}}</a>
            <a class="navbar-brand" id="logo" href="/"><span class=""></span> Imagen: {{idImagen}}</a>
        </div>
        <ul class="nav navbar-nav navbar-right">
            <li><a href="/user"><span class="glyphicon glyphicon-picture"></span> Galeria</a></li>
            <li><a href="/subir-archivo"><span class="glyphicon glyphicon-open-file"></span> Subir Archivo</a></li>
            <li><a href="/"><span class="glyphicon glyphicon-open-file"></span> Cerrar Sesión</a></li>
        </ul>
    </div>
</div>
{% endblock %}

{% block editImg %}
<div class="jumbotron">
    <input type="hidden" value="{{idImagen}}" id="idEditImage"/>
    <div class="container text-center">
        <div class="wrapper">
            <canvas id="canvas" width="500" height="300"></canvas> 
            <div class="controls">
                <div class="form-group">
                    <input type="color"/>                    
                    <input type="range" min="1" max="60" value="5"/> 
                </div>
            </div>
        </div>                  
    </div>
</div>
{% endblock %}